h1 {
  color: pink;
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
  line-height: 28px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 0 auto;
}
.weather-app {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  border: 3px solid pink;
  border-radius: 10px;
  display: block;
}
ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
  color: gray;
}
.date {
  color: gray;
  font: 200;
  height: 18.8px;
  line-height: 20px;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.description {
  color: gray;
  font: 200;
  height: 18.8px;
  line-height: 20px;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.opencode {
  font: 200;
  height: 18.8px;
  line-height: 20px;
  list-style: none;
  text-align: left;
  margin: 0 auto;
  padding: 0;
}

.overview {
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
.speed {
  text-transform: lowercase;
}
li:first-letter {
  text-transform: capitalize;
}
